:root {
  --def-indent: 5%;
  --minor-indent: 2%;
  --def-fixed-indent: 20px;
  --minor-fixed-indent: 10px;
  --border-color: rgb(238, 130, 238);
  --border-width: 5px;
  --fixed-elements-background: rgb(138, 43, 226);
  --main-element-background: rgb(255, 218, 185);
  --side-element-background: rgb(255, 165, 0);
  --annotating-element-background: rgb(255, 192, 203);
  --active-link-color: rgb(0, 0, 0);
  --secondary-font-style: italic;
  --navbut-font-size: large;
  --navbut-def-bg: rgb(216, 191, 216);
  --navbut-active-bg: rgb(255, 235, 205);
  --selected-dec: underline;
  --def-font: Arial, Helvetica, sans-serif;
}

.flexbox {
  display: flex;
}

aside {
  font-style: var(--secondary-font-style);
}

.inline {
  margin-right: auto;
}

.img-block {
  display: block;
  margin: var(--def-fixed-indent) auto;
}

.img-left {
  float: left;
}

.img-inline-block {
  display: inline-block;
  margin: var(--minor-fixed-indent);
}

img {
  border: var(--border-width) solid var(--border-color);
}

header {
  top: 0;
  position: sticky;
}

nav {
  display: flex;
  justify-content: end;
  flex-direction: row;
  background-color: var(--fixed-elements-background);
  align-items: stretch;
}

h1 {
  align-self: flex-start;
}

footer {
  background-color: var(--fixed-elements-background);
  padding: var(--minor-indent);
  display: flex;
  justify-content: end;
}

article {
  background-color: var(--main-element-background);
  flex-basis: 100%;
}

#subcontainer {
  display: flex;
  flex-direction: column;
}

.navbut {
  height: 100%;
  font-size: var(--navbut-font-size);
  background-color: var(--navbut-def-bg);
  border: 0;
  margin: 0 var(--minor-fixed-indent) 0 var(--minor-fixed-indent);
}

.navbut:hover {
  background-color: var(--navbut-active-bg);
}

#navbutlast {
  margin: 0 0 0 var(--minor-fixed-indent);
}

.activelink {
  color: var(--active-link-color);
  text-decoration: var(--selected-dec);
}

.side {
  background-color: var(--side-element-background);
}

.annotation {
  background-color: var(--annotating-element-background);
  padding: var(--def-fixed-indent);
}

#story {
  flex-basis: 70%;
}

#aside3 {
  flex-basis: 30%;
  padding: var(--def-fixed-indent);
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  margin: var(--def-fixed-indent);
}

main {
  flex-basis: 100%;
  align-items: stretch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--def-fixed-indent);
}

* {
    font-family: var(--def-font);
    text-align: justify;
}

body {
  margin: 0;
}
