.flexbox 
{
    display: flex;
}

aside 
{
    font-style: italic;
}

.inline
{
    margin-right: auto;
}

img.block {
    display: block;
    margin: 5% auto;
}

img.left {
    float: left;
}

img.inline-block {
    display: inline-block;
    margin: 2%;
}

img {
    border: 5px solid violet;

}

header {
    top: 0px;
    position: sticky;
}

nav
{
    display: flex;
    justify-content: end;
    flex-direction: row;
    background-color: blueviolet;
    align-items: stretch;
}

h1
{
    align-self: flex-start;
}

footer {
    background-color: blueviolet;
    padding: 20px;
    display: flex;
    justify-content: end;
}

article {
    background-color: peachpuff;
    flex-basis: 100%;
}

#subcontainer {
    display: flex;
    flex-direction: column;
}

.navbut {
    height: 100%;
    font-size: large;
    background-color: thistle;
    border: 0px;
    margin:  0px 2px 0px 2px;
}

.navbut:hover  {
    background-color: blanchedalmond;
}

#navbutlast {
    margin:  0px 0px 0px 2px;
}

.activelink {
    color: black;
    text-decoration: underline;
}

#aside1 {
    background-color: orange;
}
#aside2 {
    background-color: pink;
    padding: 10px;
}
#story {
    flex-basis: 70%;
}
#aside3 {
    flex-basis: 30%;
    background-color: orange;
    text-align: justify;
    padding: 10px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    background-color: brown;
    height: 100vh;
}

p {
    text-align: justify;
    margin: 15px;
}

main {
    flex-basis: 100%;
    align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}